html { 
  background: url(../images/building.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container2 .btn {
  position: absolute;
  margin-left: -50px;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFD700;
  color: #696969;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
#my_table1{
		margin-left: 190px;
		font-size: 19px;
		width: 480px;
color:white;
		border-collapse: collapse;
		text-align: center;
background-color: #768991;
	}
	td{
		padding: 9px;
		font-size: 18px;
	}
	th{
		padding: 8px;
		font-size: 20px;
	background-color:#1f2128; 


	}
	

.button1, .btn1{
  background-color: white; 
  border: none;
  color: black;
  padding: 12px 26px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.8;
  margin-right: 20px;
  margin-top: -75px;
}
.btn1:hover {
	 background-color: #ffa012;
	color: white;
}
.button1:hover {
	background-color: #768991;
	color: white;
}
.login-form{
	margin-top: -40px;
	min-height:360px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
body{
	margin:0;
	color:#6a6f8c;
	/*font:600 16px/18px 'Open Sans',sans-serif;*/
	
    margin:0;
	height:100%;
	width:100%;
}
header{
	width: 100%;
}

#my_table1{
		
		font-size: 16px;
	}
	th,td{
		padding: 10px;
	}

.button2{
  background-color: none; 
  border: none;
  color: #6A4B39;
  padding: 12px 20px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
  margin-left: 180px;
  margin-top: 30px;
}


.button2: hover {
	background-color: #D08D66;
}

h2{
	margin-left: 30px;

}


h3{
	font-size: 35px;
	font-family: serif;
	font-style: oblique;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #236B8E;
	 text-shadow: 1px 0px;
	 margin-top: 20px;
}
select{
margin-left:30px;
width:260px;
height:35px;
font-size:20px;
font-family: Helvetica;
font-style: normal;
color: #696969;
margin-top:5px;
}
label{
	font-size: 25px;

}
input{
	margin-left: 30px;
	box-sizing: border-box;
	margin-top: 20px;
	font-size: 16px;
	padding: 4px 4px;
	width: 260px;
}

